.image-grid-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 40px;
  padding: 40px;
  margin-top: 30%;
}

@media (max-width: 768px) {
  .image-grid-container {
    grid-template-columns: 1fr; /* Stack items on smaller screens */
    gap: 20px;
    margin-top: 70%;
    padding: 20px;
  }
}
.image-grid-item {
  position: relative;
  overflow: hidden;
  transition: transform 0.3s ease;
  height: 600px;
}

.image-grid-item:hover .grid-image {
  transform: scale(1.1);
}

.grid-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
  transition: transform 0.3s ease;
}

.image-overlay {
  position: absolute;
  inset: 0;
  background: rgba(0, 0, 0, 0.3);
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  opacity: 1;
  transition: opacity 0.3s ease;
}

.image-overlay h3,
.image-overlay p {
  margin: 0;
  padding: 10px;
}
