@import url("https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400..700&family=Kaushan+Script&family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap");

.ubuntu-medium {
  font-family: "Ubuntu", serif;
  font-weight: 500;
  font-style: normal;
}
/* General Styles */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "ubuntu", serif;
}

body {
  font-family: Arial, sans-serif;
  background-color: #f4f4f4;
}

.logo {
  height: 50px;
  width: 150px;
  margin-left: 45px;
}
.banner {
  position: relative;
  width: 100%;
}
.intro-banner {
  display: flex;
  position: relative;
  justify-content: center;
  align-items: center;
  height: 20vh;
  margin-bottom: 10%;
  background-color: rgb(84, 159, 220);
}

.intro-banner-title {
  font-size: 3rem;
  font-weight: bold;
  color: white;
  position: absolute;
  margin: 0;
  top: 123%;
  text-align: center;
  background-color: rgb(25, 65, 89, 0.8);
}
.intro-banner-image {
  width: 100%;
  padding-top: 25.5%;
  margin-top: 25.8%;
  object-fit: cover;
}
.container {
  padding: 20px;
}

.service {
  margin-bottom: 40px;
}

.service h2 {
  font-size: 2rem;
  margin-bottom: 10px;
}

.service p {
  font-size: 1rem;
  line-height: 1.5;
}
.banner img {
  width: 100%;
  height: 100vh;
  position: relative;
  object-fit: cover;
}

.banner-text {
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  text-align: center;
  z-index: 9;
}

.heading-responsive {
  font-size: 3rem;
  font-weight: bold;
  margin-bottom: 20px;
}

.info {
  position: relative;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.bgimg-01 {
  width: 100%;
  height: 100vh;
  object-fit: cover;
}

.Description-01 {
  width: 100%;
  height: 30%;
  padding: 0 20% 0 20%;
  background-color: rgba(0, 0, 0, 0.6);
}

@media (max-width: 992px) {
  .info {
    flex-direction: column;
    align-items: center;
  }

  .bgimg-01 {
    width: 100%;
  }

  .Description-01 {
    max-width: 90%;
    padding: 0;
    height: auto;
    text-align: center;
  }

  .heading-responsive {
    font-size: 2rem;
  }

  .lead {
    font-size: 1.2rem;
  }
}

@media (max-width: 686px) {
  .Description-01 {
    width: 90%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #00000055;
  }

  .intro-banner img {
    height: 700px;
    object-fit: cover;

    z-index: 3;
  }
  .heading-responsive {
    font-size: 1.5rem;
  }
  .intro-banner {
    margin-bottom: 0;
    margin-top: 30%;
    max-width: 100%;
  }
  .intro-banner-title {
    top: 50%;
    z-index: 4;
  }
  .lead {
    font-size: 1rem;
    margin-bottom: 20%;
  }
}

.intro-01 {
  margin-bottom: 5%;
}
.text-container h2 {
  font-size: 1.8rem;
  margin-bottom: 1rem;
}

.text-container p {
  font-size: 1.2rem;
  line-height: 1.6;
}
.custom-img-size {
  max-width: 100%;
  max-height: 70%;
  width: 450px;
  height: 550px;
  object-fit: cover;
  margin: 10% 0 0 0;
}

.image-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.text-container {
  padding: 20px;
}

@media (min-width: 768px) {
  .container {
    max-width: 750px;
  }
}

@media (min-width: 992px) {
  .container {
    max-width: 970px;
  }
}

.row {
  display: flex;
  flex-wrap: wrap;
  padding: 0 4px;
}

.column {
  flex: 25%;
  max-width: 25%;
  padding: 0 4px;
}

.column img {
  margin-top: 8px;
  vertical-align: middle;
  width: 100%;
}

@media screen and (max-width: 800px) {
  .column {
    flex: 50%;
    max-width: 50%;
  }
}

@media screen and (max-width: 600px) {
  .column {
    flex: 100%;
    max-width: 100%;
  }
  .intro-banner-image {
    margin-top: 0;
  }
}

.gallery {
  background-color: #f8f9fa;
  padding: 20px 0;
}

.gallery h1 {
  font-size: 2.5rem;
  font-weight: 700;
  color: #2c3e50;
}

.gallery-image {
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.gallery h5 {
  font-size: 1.1rem;
  color: #555;
}

.carousel-item {
  padding: 20px 0;
}

.contact-form {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 100vh;
  width: 100%;
  background-image: url("/image/grid-gallery-009.jpg");
}

.shadow-fade-overlay {
  position: relative;
  background: linear-gradient(
    to right,
    rgba(0, 0, 0, 1) 0%,
    rgba(0, 0, 0, 0.6) 50%,
    rgba(0, 0, 0, 0.1) 100%
  );
  width: 100%;
  height: 100%;
}

.contact-form-title {
  font-size: 3rem;
  position: relative;
  color: white;
  z-index: 1;
  top: 40%;
  left: 10%;
  max-width: 90%;
  text-align: left;
  margin: 0;
}

.contact-button {
  all: unset;
  width: 15%;
  border-radius: 10px;
  background-color: white;
  color: #000;
  text-align: center;
  font-size: 1.5rem;
  padding: 10px;
  cursor: pointer;
  display: inline-block;
}

.contact-button:hover {
  background-color: #00000030;
  color: white;
  border: 1px solid white;
}

@media (max-width: 768px) {
  .contact-form-title {
    font-size: 2rem;
    top: 30%;
    left: 10%;
    text-align: center;
    width: 80%;
    margin: 30px;
  }

  .contact-button {
    width: 50%;
    font-size: 1.5rem;
  }
}

@media (max-width: 1000px) {
}
@media (max-width: 480px) {
  .contact-form-title {
    font-size: 1.5rem;
    top: 25%;
    left: 10%;
    text-align: center;
  }

  .contact-button {
    width: 70%;
    font-size: 1.5rem;
  }
}
.footer_reveal {
  position: relative;
  overflow: hidden;
  height: 80vh;
  display: flex;
  align-items: flex-end;
}

.footer_reveal-image {
  width: 90%;
  height: auto;
  object-fit: cover;
  position: absolute;
  bottom: 50%;
  left: 5%;
  z-index: 1;
  transition: transform 1s ease, opacity 0.5s ease;
}

.footer_reveal-image.revealed {
  transform: translate3d(0, 0, 0);
  opacity: 1;
}

.footer_reveal-image:not(.revealed) {
  transform: translate3d(0, 50%, 0);
  opacity: 0;
}

.footer {
  position: relative;
  z-index: 2;
  width: 100%;
  padding: 20px;
  background-color: rgba(255, 255, 255, 0.8); /* Semi-transparent background */
  color: #000;
  text-align: center;
}

.footer h5 {
  color: #000;
  margin-bottom: 15px;
}

.footer-column {
  margin-bottom: 20px;
}

.footer-column ul {
  list-style-type: none;
  padding: 0;
}

.footer-column ul li {
  margin-bottom: 10px;
}

.social-links a {
  display: inline-block;
  margin-right: 15px;
  color: #000;
  text-decoration: none;
  transition: color 0.3s;
}

.social-links a:hover {
  color: #0000009c;
}

.footer-bottom {
  margin-top: 20px;
  padding-top: 10px;
  border-top: 1px solid #ccc;
}

.footer-bottom p {
  margin: 0;
  font-size: 14px;
}

.learn-btn {
  all: unset;
  padding: 5px 10px;
  background-color: #ffffff;
  color: rgb(0, 0, 0);
  border-radius: 20px;
  cursor: pointer;
  border: 1px solid #000000;
  transition: background-color 0.3s, color 0.3s, border 0.3s;
}

.learn-btn:hover,
.learn-:focus,
.learn-btn:active {
  background: black;
  color: white;
  border: 1px solid white;
  outline: none;
}

/*about us*/

.aboutus-banner img {
  height: 100vh;
  position: relative;
  display: flex;
  width: 100%;
  object-fit: cover;
  align-items: center;
  justify-content: center;
}
.aboutus-banner-overlay {
  background: rgb(25, 65, 89, 0.7);
  padding: 20px;
  max-width: 100%;
  height: 70%;
  text-align: center;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -230%);
  position: relative;
  text-align: center;
}
.aboutus-banner {
  height: 100vh;
  padding-top: 20%;
}

.aboutus-banner-content h2 {
  font-size: 3rem;
  margin-bottom: 20px;
  color: #ffffff;
}

.aboutus-banner-content p {
  font-size: 1.2rem;
  line-height: 1.8;
  margin-bottom: 20px;
  color: #ddd;
}

@media (max-width: 768px) {
  .aboutus-banner img {
    margin: 0;
  }
  .aboutus-banner-content {
    position: relative;
    width: 100%;
    padding: 10px;
  }
  .aboutus-banner-content p {
    font-size: 1rem;

    line-height: 1.5;
  }
  .aboutus-banner-overlay {
    width: 100%;
    top: 80%;
    transform: translate(-50%, -190%);
  }
  .aboutus-banner-content h2 {
    font-size: 1.8rem;
  }
  .aboutus-banner img {
    height: 80vh;
  }
  .aboutus-banner {
    height: 80vh;
  }
}

.aboutus-extra {
  background-color: #799aad;
  padding: 50px;
  padding-top: 23%;
  text-align: center;
}

.aboutus-extra h3 {
  font-size: 2rem;
  margin-bottom: 30px;
  color: #cfcfcf;
}

.extra-grid {
  display: flex;
  gap: 20px;
  justify-content: center;
}

.extra-card {
  background-color: #cfcfcf;
  padding: 20px;

  flex: 1;
  max-width: 300px;
}

.extra-card h4 {
  font-size: 1.5rem;
  color: #323232;
  margin-bottom: 10px;
}

.extra-card p {
  font-size: 1rem;
  color: #333232;
}

/* Responsive Styles */
@media (max-width: 768px) {
  .aboutus-banner-content h2 {
    font-size: 1.6rem;
  }
  .aboutus-banner-overlay {
    padding: 15px;
    margin-top: -14%;
    height: 80%;
  }
  .aboutus-extra {
    padding: 65px;
    margin-top: 20%;
  }
  .extra-grid {
    flex-direction: column;
    gap: 30px;
  }
  .mycontainer {
    display: flex;
    flex-direction: column;
  }
  .contact-div {
    height: 70vh;
    margin: -25%;
  }
  .contact-div img {
    margin-top: 43%;
  }
  .mycontainer label {
    text-align: left !important;
  }

  .mycontainer input[type="text"],
  .mycontainer input[type="email"] {
    width: 200%;
  }
  .mycontainer textarea {
    width: 200%;
  }
}

/*contact us form*/
.contact-div {
  height: 138vh;
  position: relative;
  padding-top: 20%;
}
.contact-div img {
  background-repeat: no-repeat;
  background-size: cover;
  object-fit: cover;
  background-position: center;
  width: 100%;
  height: 100vh;
}
.contact-form-outer {
  position: absolute;
  top: 40%;
  left: 20%;
  right: 0;
  padding: 10px;
  bottom: 0;
  background: rgba(0, 0, 0, 0.4);
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  height: 60vh;
  width: 60%;
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
}
.mycontainer {
  text-align: left;
  width: 100%;
  overflow: none;
  margin: 50px;
  font-size: 1.2rem;
  color: white;
}
div.mycontainer div {
  width: 50%;
  float: left;
}
.mycontainer label {
  display: block;
  margin-bottom: 5px;
  font-weight: bold;
  text-align: right;
}
.mycontainer input,
textarea {
  all: unset;
  border-bottom: 2px solid #ccc;
  background-color: #242424b4;
  width: 100%;
  scrollbar-width: none;
  overflow-wrap: break-word;
  text-align: left;
  direction: ltr;
  transition: border-color 0.3s ease-in-out;
}
.contact-form-right {
  text-align: right;
}
.contact-form-button {
  all: unset;
  border: none;
  background-color: rgba(0, 0, 0, 0.387);
  padding: 5px;
}
/*explore page*/
.explore-banner-image {
  width: 100%;
  height: 100vh;
  object-fit: cover;
  position: relative;
}

.main-content {
  flex: 3;
}

.main-content h2,
.main-content h3 {
  color: #333;
}

.main-content p,
.main-content ul {
  color: #555;
}

.sidebar h3 {
  margin-bottom: 10px;
}

.sidebar ul {
  list-style: none;
  padding: 0;
}

.sidebar ul li {
  margin-bottom: 10px;
}

.sidebar ul li a {
  text-decoration: none;
  color: #007bff;
}

/* Gallery Section */
.gallery {
  margin: 40px;
}

.gallery h2 {
  text-align: center;
  margin-bottom: 20px;
}

.gallery-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 10px;
}

.gallery-grid img {
  width: 100%;
  border-radius: 6px;
  transition: transform 0.3s ease;
  height: 400px;
}

.gallery-grid img:hover {
  transform: scale(1.01);
}
.content-container {
  position: relative;
  margin-top: 24px;
  display: flex;
  flex-wrap: wrap;
  gap: 2rem;
  margin: 28rem 6rem 4rem;
}

.main-content {
  flex: 3;
  font-size: 1.5rem;
  padding: 1rem;
}

.sidebar {
  flex: 1;
  padding: 1rem;
  background-color: #f9f9f9;
  border: 1px solid #ddd;
  border-radius: 8px;
  max-width: 300px;
}

/* Sidebar map container */
.map-container {
  margin: 1rem 0;
}

.map-container iframe {
  width: 100%;
  height: 200px;
  border: 0;
}

/* Responsive styles for small screens */
@media screen and (max-width: 768px) {
  .content-container {
    flex-direction: column;
    margin-top: 8rem;
    max-width: 100%;
    width: 100%;
    margin-left: 0rem;
  }

  .main-content {
    flex: 1;
    max-width: 100%;
    padding: 150px 0 0;
    margin: 20px;
  }
  .sidebar {
    flex: 1;
    max-width: 100%;
    margin: px;
  }
  .map-container iframe {
    height: 250px;
  }
  .gallery-grid img {
    height: 300px;
  }
}

.pagination {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  margin: 20px 0;
}

.pagination button {
  all: unset;
  border: none;
  background-color: rgba(0, 0, 0, 0.387);
  padding: 5px;
  color: white;
  cursor: pointer;
  border-radius: 5px;
}

.pagination button:disabled {
  background-color: #cccccc;
  cursor: not-allowed;
}

.pagination span {
  font-weight: bold;
}

/* App.css */
/* Slide-in animations */
.slide-in-left {
  animation: slideInLeft 1.7s ease-out forwards;
  opacity: 0;
}

.slide-in-right {
  animation: slideInRight 1.7s ease-out forwards;
  opacity: 0;
}

@keyframes slideInLeft {
  from {
    transform: translateX(-100%);
    opacity: 1;
  }
  to {
    transform: translateX(0);
    opacity: 1;
  }
}

@keyframes slideInRight {
  from {
    transform: translateX(100%);
    opacity: 1;
  }
  to {
    transform: translateX(0);
    opacity: 1;
  }
}
